/* GENERAL RULES */

* {
    font-family: 'Urbanist', sans-serif;
}
body {
    background-color: #000;
}

/* MAIN CONTAINER */
.container {
    margin: auto;
    width: 1000px;
    background-color: #fff;
}

/* TITLE AND IMAGES */
header {
    height: 120px;
    background-color: #4EA0FF;
    background-image: url("../img/pattern.png");
    background-repeat: repeat;
    background-size: 50%;     
    padding: 8px;
}

#logo {
    margin-top: 50px;
    height: 60px;
}

h1 {
    margin-bottom: 0;
}

main {
    padding: 8px;
}
.meta {
    font-style: bold;
    color: grey;
    margin: 0;
}
#author {
    color:#4EA0FF;
}

.date {
    color: grey;
    font-size: 12px;
    margin-top: 0;
}

.blanket{
    height: 350px;
}

.caption {
    font-size: 12px;
}

/* ARTICLE */

.highlight {
    background-color: yellow;
}

.article {
    margin-bottom: 30px;
}

table{
    border-collapse: collapse;

}
th {
    text-align: left;
    width: 30%;
    color: white;
    background-color:#4EA0FF ;
}

tbody {
    background-color: #B1E5F2;
}

.white {
    background: white;
}

/* RELATED SECTION */
.related1 {
    background-image: url("../img/monitor.jpg");
    background-position: center;
    background-size: cover;
    width: 200px;
    height: 170px;
    margin: 10px 0;
    padding: 15px 10px;
    color: white;
}

.related2 {
    background-image: url("../img/graph.jpg");
    background-position: center;
    background-size: cover;
    width: 200px;
    height: 170px;
    margin: 10px 0;
    padding: 15px 10px;
    color: white;
}